<!DOCTYPE html>
{% load static %}<!-- New line -->
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        About
Temple University is many things to many people. A place to pursue life's passions. A nurturing learning environment. A hotbed of research. An engine of employment. A melting pot of ideas and innovation. An incubator for tomorrow's leaders.

Our 17 schools and colleges, eight campuses, hundreds of degree programs and more than 38,000 students combine to create one of the nation's most comprehensive and diverse learning environments. In neighborhoods, across disciplines and on a global stage, members of the Temple community are making things happen.


        <a href="/rango/">Index</a><br />
        <img src="/static/lec.jpg" alt="Picture of Rango" /><!-- New line -->
    </body>

</html>
